html,body{
    height:100%;
    margin: 0;
    display: flex !important;
    flex-direction: column !important;
}

main{
    height: 100%;
    width: 100%;
    display: flex;    
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: whitesmoke;
}

.contenido{
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}


#blogprincipal{
    min-height: 100vh;
    background: linear-gradient(rgba(5,7,12,0.21),rgba(5,7,12,0.21)), url(https://www.anahuac.mx/mexico/sites/default/files/noticias/Home-Office.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    align-content:flex-end;
}

.blg-prin{
    color: aliceblue;
    max-width: 45%  !important;
    max-height: 50% !important;
    background: rgba(126, 109, 109, 0.733)
}

#help{
    display: flex;
    background-color:whitesmoke;
    align-items: center;
    padding: 5%;
}

.cuentanosarea{
   display: flex;
   flex-wrap: wrap;
   width: 100%;
}

.cuentanostxt{
    margin: 3%;
    width: 100% !important;
}

.cuentanosbtn{
    margin: 3%;
    width: 100% !important;
}

.ayudarte{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serifcuentanos;
}

#contactus{
    display: flex;
    background-color:rgb(207, 207, 207);
    align-items: center;
    padding-top: 3%;
    flex-wrap: wrap;
}

.mailto{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly !important;
    color: white !important;
}

.cus{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}

.contacts{
    color: black;
    text-decoration: none;
    padding: 3%;
    font-weight: bold;
    font-size: large !important;
}







.personal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.individual{
    width: 25%;
    min-height: 50px;
    box-shadow: 5 20 35;
    margin-top: 12%;
    margin-bottom: 6%;
    padding-top: 6%;
    padding-bottom: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}

h2{
    width: 100%;
    padding-top: 12% !important;
}

.tarjeta{
    position: relative;
    width: 350px;
    height: 500px;
    margin-top: 50px;
    margin: 15px;
}

.tarjeta div{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1.2s;
    border-radius: 30px !important;
}

.front{
    background-color: rgb(221, 221, 221);
    padding: 3%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    transform: perspective(1000px) rotateY(0deg)
}

.back{
    background-color: #fff;
    padding: 3%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    transform: perspective(1000px) rotateY(180deg)
}

.tarjeta:hover .front{
    transform: perspective(1000px)  rotateY(180deg)
}

.tarjeta:hover .back{
    transform: perspective(1000px)  rotateY(360deg)
}

.circular--square {
    max-width: 180px;
    border-radius: 50%;
}

.nombreNos{
    width: 100%;
}






#AppsC5{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
}

#ToDo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.ToDo{
    width: 80%;
    box-shadow: 0 0 10px #ccc;   
    margin-bottom: 3%;
    margin-top: 3%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titlePending{
    width: 100% !important; 
    text-align: center;
    margin-bottom: 6%;
}

#toDoView{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100% !important;
    margin-bottom: 3%;
}

#listaPendientes{
    width: 90%;
    justify-content: space-evenly;
}

.contentPending{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

#botonesToDo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 3%;
    align-items: flex-end;
    width: 290px;
}

.editPending{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 6%;
}

.Registro{
    margin-top: 6%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 6%;
}

.formu{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.textarea{
    width: 100%;
    margin-bottom: 3%;
    margin-top: 3%;
}




#notes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
}

#notes-app {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-content: space-evenly;
    height: 650px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    padding: 20px;
}
  
#notes-list {
    flex: 1;
    overflow-y: scroll;
}
  
.note {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-content: space-around;
}
  
.note-title {
    font-weight: bold;
    margin-bottom: 10px;
}
  
.note-actions {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 3%;
}
  
#note-inputs {
    padding: 10px;
}
  
#note-title-input,
#note-text-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
  
#note-text-input {
    height: 200px;
    resize: none;
}
  
#save-btn {
    padding: 10px 20px;
    width: 100%;
}
  

@media (max-width: 1080px) {
    

    #blogprincipal{
        min-height: 80vh;
        background: linear-gradient(rgba(5,7,12,0.21),rgba(5,7,12,0.21)), url(https://www.anahuac.mx/mexico/sites/default/files/noticias/Home-Office.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: flex;
        align-items: center;
        align-content:flex-end;
    }


    #AppsC5{
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-around;
    }

    #ToDo{
        width: 100%;
        border-radius: 10px;
        margin-top: 9px;
        margin-bottom: 9px;
    }
    
    #notes{
        width: 80%;
        height: auto;
    }
    
    #notes-app {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-content: space-evenly;
        min-height: 635px;
        border-radius: 10px;
        box-shadow: 0 0 10px #ccc;
        padding: 20px;
    }

    #contador{
        width: 80% !important;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 0 0 10px #ccc;  
        border-radius: 10px;
        margin-top: 3%;
    }

    #calculadora{
        width: 80% !important;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 0 0 10px #ccc;  
        border-radius: 10px;
        margin-top: 3%;
    }

    .calcutable {
        border-collapse: collapse;
        font-size: 20px;
        width: 80%;
        max-width: 360px;
        min-width: 180px;
        border-radius: 10px;
        margin: 10%;
    }


    #reset {
        font-size: 18px !important;
        font-weight: bold;
        padding: 10px 20px;
        margin-top: 20px;
        border-radius: 10px;
        width: 45%;
        border-radius: 10px !important;
        margin-bottom: 3% !important;
    }


    .artPrev{
        background-color:  whitesmoke !important;
        padding: 1.2%;
        text-justify: distribute;
        display: flex;
        flex-wrap: wrap !important;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 0 0 10px #ccc;
        margin: 3%;
    }

    .contenedorPrev{
        padding: 2%;
        width: 100% !important;
    }

    .imgPrev{
        height: 120px;
        border-radius: 10px;
        box-shadow: 0 0 10px #ccc;
        margin: 10px;
    }

    .mailto{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center !important;
        text-align: center;
    }

    .contacts{
        color: black;
        text-decoration: none;
        padding: 3%;
        width: 100%;
    }

    .blg-prin{
        color: aliceblue;
        max-width: 100%  !important;
        max-height: 100% !important;
        background: rgba(126, 109, 109, 0.733)
    }

}



#contador{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;  
    border-radius: 10px;
    margin-top: 3%;
}

#counter {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 3%;
    width: 90%;
    background-color: #fff;
    border-radius: 10px;
}

.botonescontador{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#increment {
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
    width: 45%;
    border-radius: 10px !important;
    margin-bottom: 3% !important;
}

#reset {
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
    width: 45%;
    border-radius: 10px !important;
    margin-bottom: 3% !important;
}





#calculadora{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;  
    border-radius: 10px;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
}

#divCal{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.calcutable {
    border-collapse: collapse;
    font-size: 20px;
    width: 90%;
    border-radius: 10px;
}
  
.input[type="text"] {
    text-align: right;
    font-size: 30px;
    width: 100%;
    border-radius: 10px !important;
    color: #333333;
    padding: 6px;
    box-sizing: border-box;
}
  
.buttoncal {
    background-color: #f0f0f0;
    border: none;
    color: #333;
    font-size: 30px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
  
button:hover {
    background-color: #b8b8b8;
}
  
button:active {
    background-color: #a0a0a0;
}
  
#btn_rstcal {
    width: 90% !important;
    margin-bottom: 3%;
}

.igual{
    background-color: whitesmoke;
    color: rgba(25,135,84,255);
    border-color: rgba(25,135,84,255);
    border: solid 0.5px;
}

.igual:hover{
    background-color: rgba(25,135,84,255);
    color: white;
}

tr[draggable="true"] {
    cursor: move;
}





#chat{
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

.chat-container {
    display: flex;
    flex-direction: column;
    min-width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;  
    border-radius: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 1%;
}
  
.chat-display {
    height: 90%;
    width: 100%;
    background-color: whitesmoke;
    box-shadow: 1px 1px 1px 1px #ccc;
    overflow-y: scroll;
    padding: 12px;
}
  
.message {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
  
.message-sent {
    justify-content: flex-end;
}
  
.message-bubble {
    max-width: 70%;
    border-radius: 15px;
    padding: 10px;
    font-size: 14px;
    color: white;
    line-height: 1.2;
}
  
.message-received .message-bubble {
    background-color: #616161;
}
  
.message-sent .message-bubble {
    background-color: #007aff;
}
  
.chat-input{
    display: flex;
    flex-wrap: wrap;
    padding-top: 3%;
    padding-bottom: 3%;
    justify-content: space-between;

}
  
.chat-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}





#interesPage{
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    justify-content: space-evenly;
}


#artInt{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: whitesmoke;
    width: 45%;
    min-width: 360px;
}

.titleArtInt{   
    width: 100%;
    text-align: center;
    padding-bottom: 3%;
}

.artPrev{
    background-color:  whitesmoke;
    padding: 1.2%;
    text-justify: distribute;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    margin: 3%;
    width: 500px;
}

.imgPrev{
    height: 120px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.contenedorPrev{
    max-width: 250px;
    padding: 2%;
    text-align: justify;
}

.tittleArtPrev{
    color: #333;
    font-size:larger;
    font-weight: bold;
}



#mainBlog{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #333;
}

#tittleArticleBlog{
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 3%;
    max-width: 1080px;
    width: 100%;
}

.fotoBlog{
    width: 100%;
    max-width: 1080px;
    border-radius: 10px;
}

.author{
    font-weight: bold;
}

#articuloBlog{
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 0%;
    padding-bottom: 9%;
    max-width: 1080px;
    width: 100%;
    text-align: justify;
}

#interesC5{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 6%;
    padding-bottom: 6%;
}





#eventosGabssa{
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: whitesmoke;
}

#eventosGabssaSecundario{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #333;
    padding-top: 6%;
    text-align: center;
}

#interesPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content:center;
    padding: 6%;
    box-shadow: 50 50 10px #ccc;
}

#interesSecundario{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content:center;
    padding: 3%;
    width: 50%;
    min-width: 360px;
    box-shadow: 50 50 10px #ccc;
}


.imgEvent{
    max-width: 80%;
    border-radius: 10px;
    box-shadow: 6px 5px 10px black;
}

#noticiaGabssa{
    width: 45%;
    min-width: 360px;
    justify-content: center;
    background-color: whitesmoke;
    padding-top: 3%;
    padding-bottom: 3%;
}

#noticiaPrincipal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#infoPrincipal{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 6%;
    justify-content: center;
    text-align: center;
    background-color: whitesmoke;
}

#video{
    width: 80%;
    min-width: 360px;
    border-radius: 10px;
    box-shadow: 6px 5px 10px black;
}

#stopVideo{
    width: 80%;
    margin: 15px;
}